.text-field {
	position: relative;
    width: 100%;
    padding: 8px 40px 8px 0;
    letter-spacing: -1px;
    font-family: "futura-pt", "Avenir Next", "Avenir", "Futura", "Trebuchet MS", sans-serif;
    font-weight: 300;
    font-size: 72px;
    color: #e8e8ea;
    background: none;
    border: none;
}